@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

/* Apply a consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin from body, heading, and paragraph elements */
h1,
h2,
p,
body {
  margin: 0;
  padding: 0;
}
